.card {
    margin-bottom: 20px;
}

.cardList {
    width: clamp(300px, 80%, 600px);
    margin: 100px auto;
}

.card-title {
    display: flex;
    justify-content: space-between;
}

.btn {
    margin-right: 15px;
}